/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Nav Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
    text-align: right;
    width: 100%;
    height: 20px;

}
li {
    display:inline;

}
ul a {
    color: #15487A;
    padding: 0 10px;
    text-decoration: none;
}

ul a:hover {
    color: #34495E;
    text-decoration: underline;
}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */

body {
  
  font-family: "Droid Sans", Helvetica, Arial, sans-serif;
  color: #222; }

.features {
  background-color: #FFD524;
  padding: 20px;
}

.box {
  background-color: #284651;
  padding: 20px;
  border-radius: 8px;
  opacity: .65;
}

.header {
  background-image: url(../images/banana.png);
  background-color: #DD6D22;
  }

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 50px; font-size: 5.0rem; line-height: 1.2;  letter-spacing: .1rem;}
h2 { font-size: 37px; font-size: 3.7rem; line-height: 1.25; letter-spacing: .1rem; }
h3 { font-size: 22px; font-size: 2.2rem; line-height: 1.3;  letter-spacing: .1rem; }

header h2 {
  color: #fff;
  font-weight: 400;
  font-size: 28px; 
  font-size: 2.8rem; 
}

.phone {
  color: #FFD524;
  font-weight: 700;
  font-size: 32px; 
  font-size: 3.2rem; 
}

h2 {
  color: #984B43;
  text-align:center;
}

/* Larger than phablet */
@media (min-width: 550px) {
h1 { font-size: 50px; font-size: 5.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 37px; font-size: 3.7rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 22px; font-size: 2.2rem; line-height: 1.3;  letter-spacing: -.1rem; }

